
        
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.box-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 253px;
    gap: 5px;
}

.title-error {
    color: #1a1d1f;
    font-size: 52px;
    font-weight: 600;
}

p.description-error {
    color: #a7acb0;
    font-size: 17px;
}

.go-home {
  color: white;
  font-size: 0.86rem;
  line-height: 1.7;
}

svg.arrow-btn {
  height: 24px;
}

.box-btn {
  display: flex;
  background-color: #1a1d1f;
  height: 41px;
  width: 131px;
  border-radius: 100px;
  padding: 0 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2px;
  margin-top: 20px;
}

.container {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 50px;
}

.img-error {
  width: 300px;
  height: fit-content;
}

a {
  color: #8552d7;
  text-decoration: none;
  background-color: transparent;
}


@media screen and (max-width: 741px) {
    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;
    }

    .box-info {
        align-items: center;
    }

    p.description-error {
        text-align: center;
    }

    .img-error {
        width: 223px;
    }

    p.description-error {
        font-size: 15px;
    }

    .title-error {
        font-size: 49px;
    }

    .box-btn {
        height: 36px;
        width: 128px;
    }
}
    